.columns {
    display: flex;
}

.columns>div {
    flex: 1
}

.button {
    height: 40px;
    width: 70px;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}

.square {
    height: 60px;
    width: 60px;
    background-color: #f59619;
    border-radius: 20px;
}